
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family:  Verdana, sans-serif; 
    background: linear-gradient(135deg, #4cb1e0, #ebfa21, #2fc067); 
    color: #333;
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 100vh; 
  }

  body h1 {
    padding: 30px;
  }
  
  .container {
    background-color: #fff;
    padding: 30px 40px; 
    border-radius: 12px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
    width: 100%; 
    max-width: 450px; /
  }
  
  .container h1 {
    text-align: center; 
    color: #0d47a1;
    margin-bottom: 10px;
  }
  
  .container p {
    text-align: center; 
    margin-bottom: 20px; 
    font-size: 14px; 
    color: #666;
  }
  
  form label {
    display: block; 
    margin-bottom: 6px; 
    font-weight: 600; 
    font-size: 14px; 
    color: #333; 
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  input[type="date"],
  select,
  textarea {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    margin-bottom: 15px; 
    font-size: 14px; 
    transition: 0.3s;
  }
  
  input:focus,
  select:focus,
  textarea:focus {
    border-color: #0d47a1; 
    outline: none; 
    box-shadow: 0 0 5px rgba(13, 71, 161, 0.3); 
  }
  
  .radio-group {
    display: flex;
    gap: 15px;
    margin-bottom: 20px; 
  }
  
  .checkbox {
    display: flex;
    align-items: center;
    font-size: 14px; 
    margin-bottom: 20px;
  }
  
  button {
    background-color: #0d47a1;
    color: white; 
    border: none;
    padding: 12px;
    border-radius: 8px;
    width: 100%; 
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: #1874dd;
 
    transition: all 0.3s ease;
    transform: scale(1.1);
}